@model FoodModel

@{
    ViewData["Title"] = "EditFood";
}

<h1>EditFood</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4 bg-light">
        <form asp-action="EditFood" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageUrl" class="control-label"></label>
                <input asp-for="imageUrl" class="form-control" />
                <span asp-validation-for="imageUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isApproved" /> @Html.DisplayNameFor(model => model.isApproved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FoodCategoryId" class="control-label"></label>
                <select class="form-control" data-val="true" data-val-required="The FoodCategoryId field is required." id="FoodCategoryId" name="FoodCategoryId">
                    @foreach (var item in ViewBag.FoodCategoryIds as List<FoodCategory>)
                    {
                        @if(Model.FoodCategoryId == item.FoodCategoryId )
                        {
                            <option selected  value="@item.FoodCategoryId">@item.Name</option>
                        }
                        else
                        {
                            <option  value="@item.FoodCategoryId">@item.Name</option>
                        }
                            
                    }
                    
                    
                    
                </select>
                <span asp-validation-for="FoodCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FoodList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
