@model OrderModel

<h1>Checkout</h1>
<hr>
<div class="row bg-light">
    <div class="col-md-6">
        <h4 class="mb-3">Sipariş Detayı</h4>
        <form method="POST" asp-controller="Cart" asp-action="Checkout">
            <input type="hidden" name="cartId" value="0">
            <div class="mb-3">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Telefon"></label>
                <input asp-for="@Model.Telefon" class="form-control">
            </div>
                     
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <h4 class="mb-3">
            <span>Özet Bilgiler</span>
        </h4>
        <ul class="list-group mb-3">

            @foreach (var item in Model.CartModel.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>@item.Name</h6>
                    </div>
                    <span class="text-muted">@item.Price.ToString("c")</span>
                </li>
            }

            <li class="list-group-item d-flex justify-content-between">
                <span>Toplam (TL)</span>
                <strong>@Model.CartModel.TotalPrice().ToString("c")</strong>
            </li>
        </ul>

    </div>
</div>