@inject LanguageService language
<link rel="stylesheet" href="~/css/ourServices.css">

<div class="menu">
    <div class="spa-container">
        <div class="spa-info">
            <h2>@language.GetKey("spaH2")</h2>
            <div class="spa-image">
                <img src="~/img/spa.jpg" alt="Spa">
            </div>
            <p>@language.GetKey("spaP")</p>
            <hr>
            <ul>
                <li>@language.GetKey("spaLi1")</li>
                <li>@language.GetKey("spaLi2")</li>
                <li>@language.GetKey("spaLi3")</li>
                <li>@language.GetKey("spaLi4")</li>
            </ul>
            <button>@language.GetKey("spaButton")</button>
        </div>
    </div>

    <div class="pool-container">
        <div class="pool-info">
            <h2>@language.GetKey("poolH2")</h2>
            <div class="pool-image">
                <img src="~/img/havuz2.jpg" alt="Havuz Resmi">
            </div>
            <p>@language.GetKey("poolP")</p>
            <hr>
            <ul>
                <li>@language.GetKey("poolLi1")</li>
                <li>@language.GetKey("poolLi2")</li>
                <li>@language.GetKey("poolLi3")</li>
            </ul>
        </div>
    </div>

</div>